Refresh
<div class="game">

<div class="row joueur1">
    <div class="col-2">
        Joueur 1
    </div>
    {% for i in 9..0 %}

        <div class="col-1 colonne">

            {% for j in partie.terrainJ1[i] %}
                <div class="carte">
              {#   {{ cartes[j].id }} #}

                <img src="{{ asset('assets/img/' ~ cartes[j].image) }}" alt="" >
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>

<div class="row">
    <div class="col-2">
        &nbsp;
    </div>
    {% for i in 0..9 %}
        <div class="col-1">
          {# {{ terrains[i] }} #}
           <img src="{{ asset('assets/img/' ~ terrains[i]) }}" alt="" >
        </div>
    {% endfor %}
</div>

<div class="row joueur2">
    <div class="col-2">
        Joueur 2
    </div>
    {% for i in 0..9 %}
        <div class="col-1 colonne">
            {% for j in partie.terrainJ2[i] %}
            <div class="carte">
                {#  {{ cartes[j].id }} #}
                 <img src="{{ asset('assets/img/' ~ cartes[j].image) }}" alt="">
            </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
</div>
